.container {
  width: 100vw;
  height: 100vh;
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 25%;
  background-image: url("../../assets/not-found.jpg");
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: flex-end;
  align-items: flex-start;
}

.error-code {
  font-size: 200%;
}

.error {
  font-size: 120%;
}

@media (max-width: 520px) {
  .container {
    font-size: 2rem;
    background-position: center;
  }
}

@media (max-width: 350px) {
  .container {
    font-size: 1.8rem;
  }
}
