.card {
  background-color: black;
}

.img {
  height: 75%;
}

.heading {
  font-size: 125%;
}
.not-link {
  text-decoration: none;
}

@media (max-width: 350px) {
  .heading {
    font-size: 100%;
  }
}
